.fc-event-main {
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fc-event-main:hover {
	opacity: 0.85;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.day-tooltip-container:hover .tooltip-text {
	display: block !important;
}

.fc .fc-daygrid-day-number {
	z-index: 9999;
}
